---
layout: default
---

<div class="post">

<h2 class="post-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>

<p class="date">{{ page.date | date_to_string }}</p>

{{ content }}


<div id="follow"><i>You should follow me on
Twitter <a href="https://twitter.com/#!/pbailis">here</a>.</i></div>

<hr />

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'pbailis'; // required: replace example with your forum shortname

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<hr />

<div id="call-to-action">
	<h3>Read More</h3>
	<ul>
	{% for post in site.related_posts %}{% if post.url != page.url %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		({{ post.date | date_to_string }})
	</li>
	{% endif %}{% endfor %}
	</ul>
</div>
</div>



